<h1>Eat Them Burgers!</h1>

<h2>List your favorite burgers and eat them!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>Copy and Paste the Burger Choice</h2>
{{#each burger_data}}
<div>
    {{this.burger_name}}
</div>
{{/each}}

<form class="create-form" action='/burgers/insertOne' method="POST">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
            <center><label for="newburger" class="submitFont">
                    <h3>Request a new burger!</h3>
                </label></center>
            <textarea class="form-control" type="text" id="addburger" value="" name="burger_name">
                </textarea>
        </div>

        <div class="col-md-3"></div>
    </div>
    <center>
        <button type="submit" class="btn btn-primary" id="addburger">Add Burger!
            <span class="fa fa-thumbs-up"></span>
        </button>
    </center>
</form>
<br>
</div>

<script>


</script>